In [487]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [488]:
import numpy as np
import pandas as pd

In [489]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [490]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
from sqlalchemy import Column, Integer, String, Float, Date, Text
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [491]:
# create the measurement class
class Measurement(Base):
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(Text)
    prcp = Column(Float)
    tobs = Column(Float)
    
# create the station class
class Station(Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    location = Column(String(255))

In [492]:
database_path = "hawaii.sqlite"
engine = create_engine(f"sqlite:///{database_path}")
# engine = create_engine(f"sqlite:///HomeWork/Advanced-Data-Storage-and-Retrieval/hawaii.sqlite")
conn = engine.connect()
Base.metadata.create_all(conn)
session = Session(bind=engine)

In [493]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [518]:
# We can view all of the classes that automap found
Base.classes.keys()
drop.measurements1

NameError: name 'drop' is not defined

In [520]:
# Save references to each table
Measurement = Base.classes.Measurements
Station = Base.classes.Stations

In [496]:
# Create our session (link) from Python to the DB
session = Session(engine)

In [497]:
station_data = pd.read_sql("SELECT * FROM Stations", conn)
station_data.head()

Empty DataFrame
Columns: [id, station, name, latitude, longitude, elevation, location]
Index: []

In [515]:
measurements_data = pd.read_sql("SELECT * FROM Measurements", conn)
measurements_data.head()

# Using the inspector to print the column names within the 'dow' table and its types
# inspector = inspect(engine)
# inspector.get_table_names()
# columns = inspector.get_columns('Measurements')
# for column in columns:
#     print(column["name"], column["type"])

Empty DataFrame
Columns: [id, station, date, prcp, tobs]
Index: []

In [517]:
attacks = session.query(Measurement) 
for attack in attacks:
    print(Measurement.station)

# Exploratory Climate Analysis

In [500]:
#Design a query to retrieve the last 12 months of precipitation data and plot the results
#query for dates and find latest
latest_date = (session.query(Measurement.date)
                     .order_by(Measurement.date.desc())
                     .first())
print(latest_date)

latest_prcp = (session.query(Measurement.prcp)
                     .order_by(Measurement.prcp.desc())
                     .first())
print(latest_prcp)

#extract string from query object
latestDate = list(np.ravel(latestDate))[0]

#Select only the date and prcp values.

# Calculate the date 1 year ago from the last data point in the database


# Perform a query to retrieve the data and precipitation scores

# Save the query results as a Pandas DataFrame and set the index to the date column

# Sort the dataframe by date

# Use Pandas Plotting with Matplotlib to plot the data

None
None

![precipitation](Images/precipitation.png)

In [501]:
# Use Pandas to calcualte the summary statistics for the precipitation data

![describe](Images/describe.png)

In [502]:
# Design a query to show how many stations are available in this dataset?

In [503]:
# What are the most active stations? (i.e. what stations have the most rows)?
# List the stations and the counts in descending order.

In [504]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature most active station?

In [505]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram

![precipitation](Images/station-histogram.png)

In [506]:
# This function called `calc_temps` will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temps(start_date, end_date):
    """TMIN, TAVG, and TMAX for a list of dates.
    
    Args:
        start_date (string): A date string in the format %Y-%m-%d
        end_date (string): A date string in the format %Y-%m-%d
        
    Returns:
        TMIN, TAVE, and TMAX
    """
    
    return session.query(func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)).\
        filter(Measurement.date >= start_date).filter(Measurement.date <= end_date).all()

# function usage example
print(calc_temps('2012-02-28', '2012-03-05'))

[(None, None, None)]

In [507]:
# Use your previous function `calc_temps` to calculate the tmin, tavg, and tmax 
# for your trip using the previous year's data for those same dates.

In [508]:
# Plot the results from your previous query as a bar chart. 
# Use "Trip Avg Temp" as your Title
# Use the average temperature for the y value
# Use the peak-to-peak (tmax-tmin) value as the y error bar (yerr)

In [509]:
# Calculate the total amount of rainfall per weather station for your trip dates using the previous year's matching dates.
# Sort this in descending order by precipitation amount and list the station, name, latitude, longitude, and elevation

## Optional Challenge Assignment

In [510]:
# Create a query that will calculate the daily normals 
# (i.e. the averages for tmin, tmax, and tavg for all historic data matching a specific month and day)

def daily_normals(date):
    """Daily Normals.
    
    Args:
        date (str): A date string in the format '%m-%d'
        
    Returns:
        A list of tuples containing the daily normals, tmin, tavg, and tmax
    
    """
    
    sel = [func.min(Measurement.tobs), func.avg(Measurement.tobs), func.max(Measurement.tobs)]
    return session.query(*sel).filter(func.strftime("%m-%d", Measurement.date) == date).all()
    
daily_normals("01-01")

[(None, None, None)]

In [511]:
# calculate the daily normals for your trip
# push each tuple of calculations into a list called `normals`

# Set the start and end date of the trip

# Use the start and end date to create a range of dates

# Stip off the year and save a list of %m-%d strings

# Loop through the list of %m-%d strings and calculate the normals for each date

In [512]:
# Load the previous query results into a Pandas DataFrame and add the `trip_dates` range as the `date` index

In [513]:
# Plot the daily normals as an area plot with `stacked=False`