In [336]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [337]:
#Player Count
 
#Display the total number of players
total_players = len(purchase_data["SN"].value_counts())

player_count_df = pd.DataFrame({"Total Players": [total_players]})
player_count_df

   Total Players
0            576

In [338]:
# Purchasing Analysis (Total)

# Number of Unique Items
number_unique_items = len(purchase_data["Item ID"].unique())

# Average Purchase Price
avg_purchase_price = (purchase_data["Price"]).mean()

# Total Number of Purchases
total_purchases = (purchase_data["Purchase ID"]).count()

# Total Revenue
total_revenue = (purchase_data["Price"]).sum()

#display summary data
summary_table_df = pd.DataFrame({"Number of Unique Items":[number_unique_items],
                          "Average Purchase Price":[avg_purchase_price],
                          "Total Purchases":[total_purchases],
                          "Total Revenue":[total_revenue]})
# Format Summary data
summary_table_df.style.format({"Average Purchase Price":"${:.2f}",
                         "Total Revenue": "${:.2f}"})

In [339]:
#  Gender Demographics
 
# Percentage and Count of Male Players
gender_status = purchase_data.groupby(["Gender"])
print(gender_status)
gender_status.count()
# Percentage and Count of Female Players
total_count_gender = gender_status.nunique()["SN"]

# Percentage and Count of Other / Non-Disclosed

percentage_players = total_count_gender / total_players*100

demographics_age = pd.DataFrame({"Percentage of Players":percentage_players, "Total Count":total_count_gender})
demographics_age.style.format({"Percentage of Players":"{:.2f}"})

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001A0F9307588>

In [340]:
# Purchasing Analysis (Gender)
 
# Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender

purchase_count = gender_status["Purchase ID"].count()
average_purchase_price = gender_status["Price"].mean()
average_purchase_total = gender_status["Price"].sum()

average_total_per_person = average_purchase_total/total_count_gender

# Create a summary data frame to hold the results
gender_demographics = pd.DataFrame({"Purchase Count":purchase_count, "Average Purchase Price":average_purchase_price, 
                                    "Total Purchase Value":average_purchase_total, "Avg Total Purchase per Person":average_total_per_person})

# Optional: give the displayed data cleaner formatting
# Display the summary data frame
gender_demographics.style.format({"Average Purchase Price":"${:.2f}",
                         "Total Purchase Value": "${:,.2f}",
                        "Avg Total Purchase per Person": "${:.2f}"})

In [341]:
# Age Demographics
 
# Establish bins for ages
age_bin =[0, 9, 14, 19, 24, 29, 34, 39, 100]
group_bins =["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorize the existing players using the age bins. Hint: use pd.cut()
purchase_data["Age Group"]=pd.cut(purchase_data["Age"], age_bin, labels=group_bins)
purchase_data

# Calculate the numbers and percentages by age group
age_group = purchase_data.groupby("Age Group")

total_count_age = age_group["SN"].nunique()

percentage_by_age_group = (total_count_age/total_players) * 100

# Create a summary data frame to hold the results
age_summary = pd.DataFrame ({"Percentage of Players":percentage_by_age_group,
                            "Total Count": total_count_age})

# Optional: round the percentage column to two decimal points

# Display Age Demographics Table
age_demographics.style.format ({"Percentage of Players":"${:.2f}"})

In [342]:
# Purchasing Analysis (Age)
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)


# Purchase Count
purchase_count_age = age_group["Purchase ID"].count()
# print(purchase_count)

# Average Purchase Price
avg_purchase_price_age = age_group["Price"].mean()
# print(purchase_price)

# Total Purchase Value
total_purchase_value = age_group["Price"].sum()
# print(total_purchase_value)

# Average Purchase Total per Person by Age Group

average_purchase_per_person_age = total_purchase_value/total_count_age
# print(average_purchase_total)

age_demographics = pd.DataFrame ({"Purchase Count":purchase_count_age,
                            "Average Purchase Price":avg_purchase_price_age,
                            "Total Purchase Value":total_purchase_value,
                            "Avg Total Purchase Per Person":average_purchase_per_person_age})

purchasing_analysis.style.format({"Purchase Count":"${:.2f}",
                            "Average Purchase Price":"${:.2f}",
                            "Total Purchase Value":"${:.2f}",
                            "Avg Total Purchase Per Person":"${:.2f}"})

In [343]:
# Top Spenders
 
# Run basic calculations to obtain the results in the table below

purchase_count = purchase_data.groupby(["SN"]).count()["Price"].rename("Purchase Count")
average_purchase_price = purchase_data.groupby(["SN"]).mean()["Price"].rename("Average Purchase Price")
total_purchase_price = purchase_data.groupby(["SN"]).sum()["Price"].rename("Total Purchase Value")
# Create a summary data frame to hold the results


# Sort the total purchase value column in descending order

top_spenders = pd.DataFrame ({"Purchase Count":purchase_count,
                            "Average Purchase Price":average_purchase_price,
                            "Total Purchase Value":total_purchase_price})
# Optional: give the displayed data cleaner formatting

top_spenders.sort_values(["Total Purchase Value"], ascending=False).head(5).style.format({"Purchase Count":"${:.2f}",
                            "Average Purchase Price":"${:.2f}",
                            "Total Purchase Value":"${:.2f}"})
# Display a preview of the summary data frame

In [344]:
# Retrieve the Item ID, Item Name, and Item Price columns
item = purchase_data.loc[:, ["Item ID", "Item Name", "Item Price"]]

# Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value

item_purchase_count = purchase_data.groupby(["Item ID", "Item Name"]).count()["Price"].rename("Purchase Count")
item_price = purchase_data.groupby(["Item ID", "Item Name"]).mean()["Price"].rename("Item Price")
item_total_purchase_count = purchase_data.groupby(["Item ID", "Item Name"]).sum()["Price"].rename("Total Purchase Value")

# Create a summary data frame to hold the results

top_items = pd.DataFrame ({"Purchase Count":item_purchase_count,
                            "Item Price":item_price,
                            "Total Purchase Value":item_total_purchase_count})
# Sort the purchase count column in descending order

top_items.sort_values(["Purchase Count"], ascending=False).head(5).style.format({"Purchase Count":"{:.2f}",
                            "Item Price":"${:.2f}",
                            "Total Purchase Value":"${:.2f}"})
# Optional: give the displayed data cleaner formatting


# Display a preview of the summary data frame

C:\Users\anoos\Anaconda3\lib\site-packages\pandas\core\indexing.py:1494: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self._getitem_tuple(key)

In [345]:
#  Most Profitable Items
 
# Sort the above table by total purchase value in descending order
top_items.sort_values(["Total Purchase Value"], ascending=False).head(5).style.format({"Purchase Count":"{:.2f}",
                            "Item Price":"${:.2f}",
                            "Total Purchase Value":"${:.2f}"})

# Optional: give the displayed data cleaner formatting


# Display a preview of the data frame

In [ ]:
# Heroes of Pymoli Data Analysis 
# 1. The majority of purchases are bought by people aged 15-24, who make up nearly 50% of the player base. 
# However, they do not have the highest purchasing value. This may be explained by their purchasing style of 
# buying more of the less expensive items. 
# 2. Males are the main gender to play the game. However, males only spend, on average, $0.19 more 
# than females on the game. People who are non-binary or chose to not disclose their gender in this analysis spend, on average, the most. 
# 3. Though the average price of all items is around $2.93, all age groups except players over 40, spent above this 
# average. If the purchasing goal is set at this average, as in, everyone on average would buy one item from the store, 
# this data would show that the goal has been met.