In [32]:
# Dependencies and Setup
import numpy as np
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import csv
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect
from sqlalchemy import Column, Integer, String, Float, Date, Text
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base() 
from flask import Flask, jsonify
import pymongo
import sqlite3
from datetime import datetime

In [33]:
pd.read_sql_query(db/bellybutton.sqlite)

AttributeError: module 'pandas' has no attribute 'read_sql_query'

In [34]:
conn = sqlite3.connect("db/bellybutton.sqlite")

In [35]:
cur = conn.cursor()

In [46]:
cur.execute("select * from bellybutton limit 5;")

OperationalError: no such table: otu_ids

In [43]:
results = cur.fetchall()
print(results)

[]